{
    "require": [
      "@babel/register"
    ],
    "reporter": [
      "lcov",
      "text"
    ],
    "all": true,
    "sourceMap": false,
    "instrument": true,
    "excludeNodeModules": false,
    "excludeAfterRemap": false,
    "include": [
      "node_modules/@daimler/ftk-core/lib/**/*.js"
    ],
    "exclude": [
      "**/interface/**"
    ],
    "cache": false
  }